<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/js/controllers.js"></script>
  <style>
			table {
			    font-family: arial, sans-serif;
			    width: 50%;
			}
			
			td, th {
			    text-align: center;
			    padding: 8px;
			}
			
	</style>
</head>
<body ng-controller="studentController">
<!-- <a href="{% url 'insert' %}">Add new student</a> -->
	
	<div class="main" ng-init="initFirst()">
	  	<form ng-submit="submitStudnetForm()">{% csrf_token %}
	      	<table >
				<tr>
					<th>Name</th>
					<th>Gender</th>
					<th>Birthday</th>
					<th>Register Date</th>
					
				</tr>
				
				<tr ng-repeat="student in students" >
					<td>
						<div>
							<span ng-bind="student.name" ng-show="!student.is_edit"> </span>
							<input type="text" ng-model="student.name" ng-show="student.is_edit">
						</div>
					</td>
					<td>
						<span ng-bind="student.gender" ng-show="!student.is_edit"> </span>
						<select ng-model="student.gender" ng-show="student.is_edit">
		             			<option value="Male">Male</option>
		                		<option value="Female">Female</option>
		            	</select>
					</td>
					<td>
						<span ng-bind="student.birthday" ng-show="!student.is_edit"> </span>
						<input type="text"  ng-model="student.birthday" ng-show="student.is_edit"/>
					 </td>
					<td>
						<span ng-bind="student.register_date" ng-show="!student.is_edit"> </span>
						<input type="text"  ng-model="student.register_date"ng-show="student.is_edit"/>
					</td>
					<td>
						<input type="button" ng-click="student.is_edit=true" value="Edit" />
	     				<input type="button" ng-click="deleteStudentForm(student.id)" value="Delete" />
	     			</td>
				 </tr>
				 <tr ng-show="formStudent">
						<td> <input type="text" id="name" ng-model="student.name" /></td>
						<td>
							<select id="gender" ng-model="student.gender">
		             			<option value="Male">Male</option>
		                		<option value="Female">Female</option>
		            		</select>
		            	</td>
						<td><input type="text" id="birthday" ng-model="student.birthday" /></td>
						<td><input type="text" id="register_date" ng-model="student.register_date" /> </td>
						<td>
							<input type="submit" value="Submit" />
	        				<input type="reset" ng-click="resetForm()" value="Reset" />
						</td>
				 	</tr>
				 	<tr><td><input type="button" ng-click="addNewStudent()" value="Add New Student" /></td></tr>
			</table>
		</form>  
     </div>
</body>
</html>