<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Student</title>
  <script src="/static/lib/angular/angular.min.js"></script>
  <script src="/static/js/controllers.js"></script>
</head>
<body ng-controller="studentController"> 
    <h2>Student Information:</h2>
    <form ng-submit="submitStudnetForm()">{% csrf_token %}
            <label for="name" >Name: </label><br />
            <input type="text" id="name" ng-model="student.name" /> <br />
            <label for="birthday" >Birthday</label><br />
            <input type="text" id="birthday" ng-model="student.birthday" /> <br /><br />
            <label for="register_date" >Register Date</label><br />
            <input type="text" id="register_date" ng-model="student.register_date" /> <br /><br />
            <label for="gender" >Gender</label> <br />
                <select id="gender" ng-model="student.gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select><br /> <br />
        <input type="submit" value="Submit" />
        <input type="reset" ng-click="resetForm()" value="Reset" />
    </form>   
    <a href="{% url 'home_page' %}">Go to home page</a>
</body>
</html>